<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizza Hunt</title>
  <link rel="stylesheet" href="style.css" class="css">

</head>
<body>
  <main>
    <div id= "main-container">
      <H1> Create Account</H1>

     <form action="">
      <div class=" full-box">
       <label for="email">
          <span>Email</span>
          <input type="text" id="email" name="email" placeholder="Type your Email">      
        </label>
      </div>

      <div class="full-box">
        <label for="name">
           <span>Name</span>
           <input type="text" id="name" name="name" placeholder="Type your Name" >      
         </label>
       </div>

      <div class="half-box spacing">
        <label for="fone">
           <span>Fone</span>
           <input type="text" id="fone" name="fone" placeholder="Type your Fone">      
         </label>
      </div>

       <div class="half-box spacing">
        <label for="address">
           <span>Address</span>
           <input type="text" id="address" name="address" placeholder="Type your Address">      
         </label>
       </div>

               
       <div class="half-box spacing">
        <label for="password">
           <span>Password</span>
           <input type="password" id="password" name="password" placeholder="Type your Password" >     
         </label>
       </div>

       <div class="half-box spacing">
        <label for="passconfirmation">Confirm Password</label>
        <input type="password" name="passconfirmation" id="passwordconfirmation" placeholder="Enter your password again" data-equal="password">
      </div>
      <div>
        <input type="checkbox" name="agreement" id="agreement">
        <label for="agreement" id="agreement-label">
          I have read and accept the<a href="#">Terms of use</a></label>
      </div>
      
      
  

        <input type="Submit" onclick="salvarUsuario()" value="Sing Up">
        </input>
      </div>
    </form>
  </main>

  <section class="images">
    <img src="assets/Logo.png" alt="Logo">
    <div class="circle"></div>
  </section>

 <section class="images2">
   <img src="assets/Entregador.png">  
 </section>

 <p class="error-validation template"></p>

  <script src="script.js"></script>
     

</body>
</html>